
html,body{
	background-color: #F5F5F5 !important;
	font-family: 'Open San', sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}


/***************************middle section ends**************************************/
/*************************header*********************************/
.top_section{
	background-color: #fff;
}

.top_section .upper{
	width: 100%;
	background: #fff;
	padding-top: 3px;
	margin: 0px;
	padding: 0px;
}

.top_section .upper{
	color: #444;
	z-index: 6;
}

.width_hold {
  max-width: 1000px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  min-height: 46px;
}

.site_logo {
  float: left;
  padding: 15px 15px 15px 0;
}

.top_section .upper .acc_info {
  top: 15px!important;
}

.top_section .upper .acc_info {
  font-weight: 700;
  position: absolute;
  right: 0;
}

.navmenu, .navmenu li, .navmenu ul {
  padding: 0;
  margin: 0;
}

.navmenu li {
  color: #fff;
  padding: 0;
  text-align: inherit;
  list-style: none;
  float: left;
}

.navmenu ul {
  display: inline;
  position: inherit;
}

.top_section .upper .acc_info a {
  color: #111;
  text-shadow: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.navmenu a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
}

#menuhold {
  position: relative;
  margin-top: 0;
}

#menucontainer {
  position: absolute;
  top: 0;
  right: 300px;
  z-index: 1000;
}

#menucontainer>ul {
  background-color: rgba(255,255,255,.98);
  border-radius: 10px 10px 0 0;
  z-index: 100;
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: #106aa8;
  position: absolute;
  /*right: 0;*/
  padding: 0;
  margin: 0;
}

#menulist {
  
}

#menucontainer>ul>li:first-child {
  border-radius: 7px 7px 0 0;
  background: #106aa8!important;
}

#menucontainer>ul>li {
  list-style-type: none;
  color: #fff;
  padding: 0;
  min-width: 50px;
  text-align: left;
  float: none;
  border: none;
  border-radius: 0;
  margin-left: inherit;
}

#menucontainer>ul>li {
  list-style-type: none;
  color: #fff;
  padding: 0;
  min-width: 50px;
  text-align: left;
  float: none;
  border: none;
  border-radius: 0;
  margin-left: inherit;
}

#menucontainer>ul>li>a {
  color: #111;
  text-shadow: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

#menucontainer>ul>li>a:hover {
 	background: #F5F5F5;
}

.invisible{
	display: none !important;
}
/*************************header end*********************************/
/*middle section*/

.middle_section {
  background-color: #2f3f43;
 /* margin: -10px 0px;*/
}

.middle_section {
  background-color:  #F5F5F5;
  min-height: 250px;
}

.main_section {
  margin: 10px 0px;
}

.main_section {
 /*max-width: 1000px;*/
  margin: 10px;
}

.content .right_content {
  width: auto;
  min-height: 250px;
  margin-left: 0px;
  padding: 0px;
}

.content .right_content {
  border: 1px solid #f9f9f9;
  background-color: #fff;
  min-height: 300px;
  border-radius: 5px;
}

.right_content {
  background-color: inherit !important;
  border: none !important;
}
.welcome{
	width: 30%;
	float: left;
}

.welcome_details{
	width: 69%;
	float: right;
}

.shares_details p{
	padding: 5px;
	font-size: 15px;
}


.profile_hold {
  width: 280px;
  padding: 10px;
  background-size: cover;
  margin: 13px;
  background: #FFFFFF;
  border-radius: 4px;
}

.d_board {
  border: 3px solid rgb(172, 186, 187);
}

.profile_hold > .thehead {
  margin: -10px -10px 10px -10px;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  font-size: 15px;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}

.welcome{
	background: #fff;
}

.welcome > .thehead {
 /* margin: -10px -10px 10px -10px;*/
 padding: 10px;
 /* border-radius: 4px 4px 0px 0px;
  font-size: 15px;*/
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}

.welcome > .thecontent p{
	padding: 10px;
	font-size: 14px;
}

.shares, .savings, .loans{
	margin-bottom: 10px;
	
}
.shares > .thehead{
	padding: 10px;
	/*font-size: 15px;*/
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.savings > .thehead{
	padding: 10px;
	/*font-size: 15px;*/
	border-bottom: 1px solid #e8e8e8;
	/*position: relative;*/
}

.loans > .thehead{
	padding: 10px;
	/*font-size: 15px;*/
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

#linkopener {
  border-top: none;
}

.linkbutton {
  transition: 0.5s;
  padding: 10px;
  border-top: 1px solid #F7F2F2;
  margin: 0px -10px;
  position: relative;
}

a {
  color: #00a3d9;
  text-decoration: none;
}

.profile_pic {
  display: block;
  box-sizing: border-box;
  position: relative;
  color: #444;
}

.job_info {
  font-size: 12px;
  text-align: left;
}

.d_jobs {
  border: 3px solid rgb(3, 167, 181);
}

profile_name {
  text-align: left;
  padding: 5px 0px;
  border-top: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job_slots {
  padding: 0px;
}

.qty-left {
  position: relative;
}

.qty-left .progress-bar {
  margin-top: 0;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: -4px 10px 0 0;
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background: rgba(207, 222, 223, 1);
  text-align: left;
}

.qty-left .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #237183;
  background-image: -moz-linear-gradient(left, #237173 0%, #237173 0.24%, #6CB1B3 100%);
  background-image: -o-linear-gradient(left, #237173 0%, #237173 0.24%, #6CB1B3 100%);
  background-image: -webkit-linear-gradient(left, #237173 0%, #237173 0.24%, #6CB1B3 100%);
  background-image: linear-gradient(left, #237173 0%, #237173 0.24%, #6CB1B3 100%);
  border: 1px solid #237183;
  border-radius: 3px;
  color: #fff;
}

.d_teaser {
  border: 3px solid rgb(255, 126, 0);
}

.d_course {
  border: 3px solid rgb(73, 157, 252);
}

.lists {
  width: 100%;
  padding-bottom: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #F0F0F0;
}

.d_ask {
  border: 3px solid rgb(226, 121, 33);
}

.d_company {
  border: 3px solid rgb(252, 209, 73);
}

.d_certs {
  border: 3px solid #70B539;
}


.save{
	padding: 13px;
}
.save p{
	font-size: 14px;
	font-weight: normal;
}

.loans{
	/*padding: 10px;*/
}

.list p{
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.news p{
	padding: 10px;
	font-size: 14px;
}

.footer{
	background-color: gray;
}

.share_details table{
	width: 100%;
}
.shares_details th,td{
	padding: 10px;
	font-size: 14px;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
.thehead p{
	font-weight: bold;
	font-size: 16px;
}

.thecontent a{
	padding: 5px;
	color: #000;
	margin-left: 100px;
	border: 2px solid #dde8f9;
	border-radius: 5px;
}
.thecontent a:hover{
	background: #dde8f9;
}

#thehead{
	
}

.sleft{
	float: left;
}
.sright{
	margin-left: 700px;
}