/* ****************login form*************************/
#logincontainer{
	width: 35%;
	margin-left: 30% !important;
	margin-top: 10% !important;
}

#logincontainer .uname{
	width: 100%;
	height: 50px;
	border-bottom: none;
	border-top: 1px solid #106aa8;
	border-left: none;
	border-right: none;
}

#logincontainer .pass{
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	border-bottom: 1px solid #106aa8;
	border-top: 1px solid #106aa8;
	border-left: none;
	border-right: none;
}

#logincontainer .toresetpass{
	float: right;
	display: inline;
}

#logincontainer .resetbtn{
	display: inline;
	float: right;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #106aa8;
	background: inherit;
	color: #106aa8;
}

#logincontainer .loginbtn{
	display: inline;
	height: 40px;
	width: 80px;
	border-radius: 5px;
	border: 1px solid #106aa8;
	background: inherit;
	color: #2B6CC2;
	float: right;
	margin-top: 5px;
}

#logincontainer .loginfieldset{
	border: 2px solid #106aa8;
	padding: 15px;
}

#logincontainer h3{
	color: #106aa8;
}

hr{
	color:  #106aa8;
}
/* ****************login form end*************************/